# Python
__pycache__/
*.pyc

# Virtual environments
venv/
env/
.autonomous/

# ML artifacts
models/
mlruns/
dataset/

# Runner files
actions-runner/

# Logs
logs/
*.log

# Secrets
.env
configs/api_keys.json

# IDE
.vscode/
.idea/